<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PR-QU <%= user.name %></title>
  </head>

  <body>
    <p>
      Hello, <%= user.username %> . View your <a href="/profile">profile</a>.
    </p>

    <form action="/todo/<%= user.username %>/tambah" method="post">
      Judul
      <input type="text" name="judul" />
      Description
      <input type="text" name="desc" />
      Deadline
      <input type="text" name="deadline" />
      <button>Tambah</button>
    </form>

    <table>
      <tr>
        <td>Judul</td>
        <td>Deskripsi</td>
        <td>Deadline</td>
        <td></td>
      </tr>
      <% todo.forEach(function(todo){ %>
      <tr>
        <td><%= todo.nama_todo %></td>
        <td><%= todo.description %></td>
        <td><%= todo.deadline %></td>
        <td>
          <form
            action="/todo/hapus/<%= todo.id_todo %>?_method=DELETE"
            method="POST"
          >
            <button>hapus</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
