<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PR-QU <%= user.name %></title>
  </head>

  <body>
    <p>
      Hello, <%= user.username %> . View your <a href="/profile">profile</a>.
    </p>

    <form action="/todo/<%= user.username %>/tambah" method="post">
      Judul
      <input type="text" name="judul" />
      Description
      <input type="text" name="desc" />
      Deadline
      <input type="text" name="deadline" />
      <button>Tambah</button>
    </form>

    <table>
      <tr>
        <td>Judul</td>
        <td>Deskripsi</td>
        <td>Deadline</td>
        <td></td>
      </tr>
      <% todo.forEach(function(todo){ %>
      <tr>
        <td><%= todo.nama_todo %></td>
        <td><%= todo.description %></td>
        <td><%= todo.deadline %></td>
        <td>
          <form
            action="/todo/hapus/<%= todo.id_todo %>?_method=DELETE"
            method="POST"
          >
            <button>hapus</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html> -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/home.css">
  <link rel="stylesheet" href="../assets/css/scrollBar.css">
  <title>Home</title>
</head>
<body>
  <div class="navbar">
    <div class="navbar__content">
      <p class="navbar__content--modifier">PR-Qu Apps</p>
    </div>
    <div class="navbar__content">
      <p class="navbar__content--modifier" onclick="profile()"><%= user.username %></p>
    </div>
    <div class="navbar__content">
      <p class="navbar__content--modifier" onclick="logout()">Log Out</p>
    </div>
  </div>
  <form action="/todo/<%= user.username %>/tambah" method="post">
  <div class="header">
    <div class="header__title">
      <h1>What are you going to do ?</h1>
    </div>
    <div class="header__input">
      <div class="header__inputBox">
        <input type="text" name="judul" id="" class="header__input--modifier" placeholder="Title" required autofocus spellcheck="false" autocomplete="off">
      </div>
      <div class="header__inputBox">
        <input type="text" name="desc" id="" class="header__input--modifier" placeholder="Description" required spellcheck="false" autocomplete="off">
      </div>
      <div class="header__inputBox">
        <input type="date" name="deadline" id="" class="header__input--modifier" placeholder="Deadline" required>
      </div>
    </div>
    <div class="header__button">
      <button type="submit" class="header__button--modifier">Submit your to-do-list</button>
    </div>
  </div>
  </form>
  <div class="home__content">
    <div class="home__title">
      <div class="home__titleContent">
        <p class="home__titleContent--modifier">Title</p>
      </div>
      <div class="home__titleContent">
        <p class="home__titleContent--modifier">Description</p>
      </div>
      <div class="home__titleContent">
        <p class="home__titleContent--modifier">Deadline</p>
      </div>
    </div>
    <% todo.forEach(function(todo){ %>
    <div class="todo__container">
      <div class="todo__wrapper">
        <div class="todo__title">
          <p class="todo__content--modifier"><%= todo.nama_todo %></p>
        </div>
        <div class="todo__description">
          <p class="todo__content--modifier"><%= todo.description %></p>
        </div>
        <div class="todo__deadline">
          <p class="todo__content--modifier"><%= todo.deadline %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<script src="../assets/js/button.js"></script>
</html>
